PORT=5000

MONGO_URI=mongodb://mdajmal99:ajmalkhan999@ac-0vaugoc-shard-00-00.kgm2mmw.mongodb.net:27017,ac-0vaugoc-shard-00-01.kgm2mmw.mongodb.net:27017,ac-0vaugoc-shard-00-02.kgm2mmw.mongodb.net:27017/FewShop-mern?ssl=true&replicaSet=atlas-xsgymc-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=mysecretkey123

EMAIL_USER=md1670224@gmail.com
EMAIL_PASS=jgubcunefamxfyvu



CLOUDINARY_CLOUD_NAME = dvtpuplyv
CLOUDINARY_API_KEY = 693714215558769
CLOUDINARY_API_SECRET = 6yXNLwnTUxZh5ZSnHbirnCmnvos


RAZORPHY_KEY_ID=rzp_test_9nqj8sH7mLh1bP
RAZORPHY_KEY_SECRET=9nqj8sH7mLh1bP4u2XoGgkz



GMAIL_USER= 
GMAIL_PASS=
FRONTED_URL=http://localhost:3000
NODE_ENV=development
PORT=5000